<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<!-- START Head -->
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE" th:text="#{application.name}">MonAppli</title>

    <!-- START CSS -->
    <link rel="stylesheet" th:href="@{/theme/assets/stylesheets/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/theme/assets/stylesheets/app.min.css}">
    <link rel="stylesheet" th:href="@{/theme/assets/stylesheets/plugins.min.css}">
    <link rel="stylesheet" th:href="@{/theme/assets/vendor/css/lib.min.css}">

    <link rel="stylesheet" th:href="@{/css/loader.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/font-awesome.min.css}">

    <link rel="stylesheet" th:href="@{/plugins/datetimepicker/css/bootstrap-datetimepicker.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/datatables/datatables.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/touchspin/jquery.bootstrap-touchspin.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.min.css}">
    <!-- END CSS -->

    <!-- START Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/theme/assets/images/favicons/apple-icon-57x57.png}">
    <link rel="apple-touch-icon" sizes="60x60" th:href="@{/theme/assets/images/favicons/apple-icon-60x60.png}">
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/theme/assets/images/favicons/apple-icon-72x72.png}">
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/theme/assets/images/favicons/apple-icon-76x76.png}">
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{/theme/assets/images/favicons/apple-icon-114x114.png}">
    <link rel="apple-touch-icon" sizes="120x120" th:href="@{/theme/assets/images/favicons/apple-icon-120x120.png}">
    <link rel="apple-touch-icon" sizes="144x144" th:href="@{/theme/assets/images/favicons/apple-icon-144x144.png}">
    <link rel="apple-touch-icon" sizes="152x152" th:href="@{/theme/assets/images/favicons/apple-icon-152x152.png}">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/theme/assets/images/favicons/apple-icon-180x180.png}">
    <link rel="icon" type="image/png" sizes="192x192" th:href="@{/theme/assets/images/favicons/android-icon-192x192.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/theme/assets/images/favicons/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="96x96" th:href="@{/theme/assets/images/favicons/favicon-96x96.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/theme/assets/images/favicons/favicon-16x16.png}">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" th:content="@{/theme/assets/images/favicons/ms-icon-144x144.png}">
    <meta name="theme-color" content="#ffffff">
    <!-- END Favicon -->

    <!-- jekyll settings -->
    <script>
        var ASSET_PATH_BASE = '';
    </script>
</head>
<!-- END Head -->


<body class="">
<div id="initial-loader">
    <div>
        <div class="initial-loader-top">
            <img class="initial-loader-logo" th:src="@{/theme/assets/images/spin-logo-inverted.png}" alt="Loader">
            <div class="loader loader--style1">
                <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewbox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                    <g>
                        <path fill="#2d2d2d" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z">
                        <path fill="#2c97de" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0C22.32,8.481,24.301,9.057,26.013,10.047z">
                    </g>
                </svg>
            </div>
        </div>
        <div class="initial-loader-bottom">
            <span th:text="#{general.loading}">Loading. Please Wait.</span> <i class="fa fa-circle" style="opacity: 0"></i>
        </div>
    </div>
</div>
<!-- JS -->
<script th:src="@{/webjars/momentjs/min/moment-with-locales.min.js}"></script>

<script th:src="@{/theme/assets/vendor/js/lib.min.js}"></script>
<script th:src="@{/theme/assets/vendor/js/bootstrap-select.min.js}"></script>

<script th:src="@{/theme/assets/javascript/app/helpers.min.js}"></script>
<script th:src="@{/theme/assets/javascript/app/layoutControl.min.js}"></script>
<script th:src="@{/theme/assets/javascript/app/rightSidebar.min.js}"></script>
<script th:src="@{/theme/assets/javascript/app/sidebar.min.js}"></script>
<script th:src="@{/theme/assets/javascript/app/main.min.js}"></script>

<script th:src="@{/plugins/datetimepicker/js/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/plugins/jquerymaskplugin/jquery.mask.min.js}"></script>
<script th:src="@{/plugins/bootstrapvalidator/js/bootstrapValidator.min.js}"></script>
<script th:src="@{/plugins/datatables/datatables.min.js}"></script>
<script th:src="@{/plugins/touchspin/jquery.bootstrap-touchspin.min.js}"></script>
<script th:src="@{/plugins/bootstrapconfirmation/bootstrap-confirmation.min.js}"></script>
<script th:src="@{/plugins/highcharts/highcharts.min.js}"></script>
<script th:src="@{/theme/assets/javascript/highchart-themes/highcharts&highstock-theme.min.js}"></script>

<div class="main-wrap">
    <nav class="navigation">
        <!-- START Navbar -->
        <div th:replace="layouts/fragments/navbar :: navbar"></div>
        <!-- END Navbar -->

        <!-- START Sidebars -->
        <div th:replace="layouts/fragments/sidebars :: sidebar"></div>
        <!-- END Sidebars -->

    </nav>

    <div class="content">
        <!-- START Sub-Navbar with Header and Breadcrumbs-->
        <div layout:fragment="content-header"></div>
        <!-- END Sub-Navbar with Header and Breadcrumbs-->

        <div class="container">
            <!-- START Content -->
            <div layout:fragment="content"></div>
            <!-- END Content -->
        </div>
    </div>

    <!-- START Footer -->
    <footer>
        <div th:replace="layouts/fragments/footer :: footer"></div>
    </footer>
    <!-- END Footer -->

</div>
<script>
    // Hide loader
    (function() {
        var bodyElement = document.querySelector('body');
        bodyElement.classList.add('loading');

        document.addEventListener('readystatechange', function() {
            if(document.readyState === 'complete') {
                var bodyElement = document.querySelector('body');
                var loaderElement = document.querySelector('#initial-loader');

                bodyElement.classList.add('loaded');
                setTimeout(function() {
                    bodyElement.removeChild(loaderElement);
                    bodyElement.classList.remove('loading', 'loaded');
                }, 200);
            }
        });
    })();
</script>
</body>

</html>
