<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">

<!-- START Sidebars -->
<aside class="navbar-default sidebar" th:fragment="sidebar">

    <div class="sidebar-overlay-head">
        <img th:src="@{/theme/assets/images/spin-logo-inverted.png}" alt="Logo" />
            <a href="javascript:void(0)" class="sidebar-switch action-sidebar-close">
                <i class="fa fa-times">
            </i>
        </a>
    </div>
    <div class="sidebar-logo">
        <img class="logo-default" th:src="@{/theme/assets/images/spin-logo-big-inverse-@2X.png}" alt="Logo" width="53">
        <img class="logo-slim" th:src="@{/theme/assets/images/spin-logo-slim.png}" alt="Logo">
    </div>

    <div class="sidebar-content">
        <!-- START Tree -->
        <ul class="side-menu m-t-2">
            <li th:class="${#httpServletRequest.getRequestURL().toString().contains('/home') ? 'active' : ''}">
                <a href="#" th:title="#{general.home}">
                    <i class="fa fa-lg fa-home fa-fw"></i>
                    <span class="nav-label" th:text="#{general.home}">Page</span>
                </a>
            </li>
            <li th:class="${#httpServletRequest.getRequestURL().toString().contains('/publishers') ? 'active' : ''}">
                <a th:href="@{/publishers}" th:title="#{general.publishers}">
                    <i class="fa fa-lg fa-users fa-fw"></i>
                    <span class="nav-label" th:text="#{general.publishers}">Page</span>
                </a>
            </li>
            <li th:class="${#httpServletRequest.getRequestURL().toString().contains('/attendance') ? 'active' : ''}">
                <a th:href="@{/attendance}" th:title="#{page.meeting.attendance}">
                    <i class="fa fa-lg fa-university fa-fw"></i>
                    <span class="nav-label" th:text="#{general.attendance}">Page</span>
                </a>
            </li>
        </ul>
        <!-- END Tree  -->

        <div class="sidebar-default-visible">
            <hr>
        </div>

    </div>
</aside>
<!-- END Sidebars -->

</html>