/* date time picker */

.bootstrap-datetimepicker-widget table {
	color: #b3b3b3 !important;
}

.bootstrap-datetimepicker-widget table td.today:before {
    border-bottom-color: #2d99dc !important;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background-color: #2d99dc !important;
}

.bootstrap-datetimepicker-widget table td.day:hover {
	color: #4d4d4d !important;
}

.bootstrap-datetimepicker-widget table td span.active {
    background-color: #2d99dc !important;
}

.bootstrap-datetimepicker-widget table td,
.bootstrap-datetimepicker-widget table th,
.bootstrap-datetimepicker-widget table td span {
	border-radius: 0px !important;
}

.bootstrap-datetimepicker-widget table td.old,
.bootstrap-datetimepicker-widget table td.new {
	color: #4d4d4d !important;
}

.bootstrap-datetimepicker-widget table td span.active,
.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
  text-shadow: none !important;
}

.media-body button.close {
	padding-top: 3px;
}

.font-sm {
	font-size: 0.9em;
}

.p-tb-px-5 {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

.chart {
	height: 400px;
}

.inline-block {
	display: inline-block !important;
}

.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #DDD;
    -webkit-overflow-scrolling: touch;
}