<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/default_layout}">
<head>

    <title th:text="#{page.meeting.attendance}">Meetings attendance</title>

</head>
<body>

<div class="sub-navbar sub-navbar__header-breadcrumbs" layout:fragment="content-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 sub-navbar-column">
                <div class="sub-navbar-header">
                    <h3 th:text="#{page.meeting.attendance}">Meetings attendance</h3>
                </div>
                <ol class="breadcrumb navbar-text navbar-right no-bg">
                    <li class="current-parent">
                        <a class="current-parent" th:href="@{/}">
                            <i class="fa fa-fw fa-home"></i>
                        </a>
                    </li>
                    <li class="active" th:text="#{page.meeting.attendance}">Meetings attendance</li>
                </ol>
            </div>
        </div>
    </div>
</div>


<div layout:fragment="content">

    <div th:replace="fragments/alert-message :: alert-simple"></div>

    <div class="alert alert-danger fade in" role="alert" th:if="${#fields.hasErrors('${attendance.*}')}">
            <span class="fa-stack fa-lg m-r-1 text-danger">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-times fa-stack-1x"></i>
            </span>
        <strong th:text="#{general.error}">Well Done!</strong>
        <ul>
            <li th:each="error : ${#fields.errors('${attendance.*}')}" th:text="${error}">
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <div class="panel panel-default b-a-0 bg-gray-dark">
                <div class="panel-heading b-b-primary b-b-2">
                    <span>Current month average</span>
                    <span class="pull-right" th:if="${currentMonthAttendance.memorialAttendance} != null"
                          data-toggle="tooltip" data-placement="bottom" th:title="#{general.memorial}">
                        <i class="fa fa-star text-danger"></i>
                    </span>
                </div>
                <div class="panel-body">
                    <h2 class="m-t-0 f-w-300">
                        <span th:text="${currentMonthAttendance.averageAttendance}">$ 694.00</span>
                    </h2>
                    <span class="pull-left" th:text="${#strings.capitalize(#temporals.format(currentMonthAttendance.minAttendance.date, 'MMMM yyyy', #locale))}">April 2017</span>
                    <span class="pull-right">
                        <i class="fa fa-caret-up text-success"></i>
                        <span th:text="${currentMonthAttendance.maxAttendance.attendance}">90</span>
                        <i class="fa fa-caret-down text-danger"></i>
                        <span th:text="${currentMonthAttendance.minAttendance.attendance}">45</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-default b-a-0 bg-gray-dark">
                <div class="panel-heading b-b-info b-b-2">Current year average</div>
                <div class="panel-body">
                    <h2 class="m-t-0 f-w-300">
                        <span th:text="${yearAttendance.averageAttendance}">$ 694.00</span>
                    </h2>
                    <span class="pull-left" th:text="${yearAttendance}">2016-2017</span>
                    <span class="pull-right">
                        <i class="fa fa-caret-up text-success"></i>
                        <span th:text="${yearAttendance.maxAverage.averageAttendance}">90</span>
                        <i class="fa fa-caret-down text-danger"></i>
                        <span th:text="${yearAttendance.minAverage.averageAttendance}">45</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-default b-a-0 bg-gray-dark">
                <div class="panel-heading b-b-warning b-b-2">Global average</div>
                <div class="panel-body">
                    <h2 class="m-t-0 f-w-300">
                        <span>75</span>
                    </h2>
                    <span>Global</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3" th:if="${yearAttendance.memorial} != null">
            <div class="panel panel-default b-a-0 bg-gray-dark">
                <div class="panel-heading b-b-danger b-b-2" th:text="#{general.memorial}">Global average</div>
                <div class="panel-body">
                    <h2 class="m-t-0 f-w-300">
                        <span th:text="${yearAttendance.memorial.attendance}">75</span>
                    </h2>
                    <span th:text="${#temporals.format(yearAttendance.memorial.date, 'EEEE d MMMM yyyy', #locale)}">Global</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="tabbable-line">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active">
                        <a href="#tab_current_month" data-toggle="tab"
                           th:text="${#strings.capitalize(#temporals.format(currentMonthAttendance.minAttendance.date, 'MMMM yyyy', #locale))}">April 2017</a>
                    </li>
                    <li role="presentation">
                        <a href="#tab_current_year" data-toggle="tab">Year 2016-2017</a>
                    </li>
                    <li role="presentation">
                        <a href="#tab_global" data-toggle="tab">Global results</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <!--  START TAB CHART MONTH -->
                    <div id="tab_current_month" role="tabpanel" class="tab-pane fade in active panel panel-default no-bg b-dark-gray b-a-2">
                        <div class="panel-heading" th:text="#{page.meeting.attendance.month}">
                            Month attendance
                        </div>
                        <div class="panel-body">
                            <p class="m-a-2">You can find here the details of the attendance for the current month (April 2017)</p>
                            <div class="row">
                                <div class="col-lg-10 col-md-9 col-sm-8">
                                    <div id="container"></div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-4">
                                    <h3 class="f-w-300 m-t-0" th:text="${#strings.capitalize(#temporals.format(currentMonthAttendance.minAttendance.date, 'MMMM yyyy', #locale))}">
                                        April 2017</h3>

                                    <h3 class="f-w-300 m-t-0 m-b-0 text-primary" th:text="${currentMonthAttendance.averageAttendance}">70</h3>
                                    <p class="m-b-1 m-t-0 text-gray-lighter" th:text="#{page.meeting.attendance.average}">Average attendance</p>

                                    <h3 class="f-w-300 m-t-1 m-b-0">
                                        <span th:text="${currentMonthAttendance.maxAttendance.attendance}">90</span>
                                        <small><i class="fa fa-caret-up text-success"></i></small>
                                    </h3>
                                    <p class="m-b-0 m-t-0 text-gray-lighter">
                                        <span th:text="#{page.meeting.attendance.max}">Max attendance</span>
                                    </p>
                                    <p class="m-t-0 m-b-1 text-gray-light">
                                        <span th:text="${#temporals.format(currentMonthAttendance.maxAttendance.date, #messages.msg('format.date.xl'), #locale)}">Sunday, April 28th</span>
                                    </p>

                                    <h3 class="f-w-300 m-t-1 m-b-0">
                                        <span th:text="${currentMonthAttendance.minAttendance.attendance}">50</span>
                                        <small><i class="fa fa-caret-down text-danger"></i></small>
                                    </h3>
                                    <p class="m-b-0 m-t-0 text-gray-lighter">
                                        <span th:text="#{page.meeting.attendance.min}">Min attendance</span>
                                    </p>
                                    <p class="m-t-0 m-b-1 text-gray-light">
                                        <span th:text="${#temporals.format(currentMonthAttendance.minAttendance.date, #messages.msg('format.date.xl'), #locale)}">Tuesday, April 17th</span>
                                    </p>

                                    <div th:if="${currentMonthAttendance.memorialAttendance} != null">
                                        <h4 class="f-w-300 m-t-1 m-b-0 text-gray-lighter">
                                            <span th:text="${currentMonthAttendance.memorialAttendance.attendance}">50</span>
                                            <small><i class="fa fa-star text-danger"></i></small>
                                        </h4>
                                        <p class="m-b-0 m-t-0 text-gray-lighter">
                                            <span th:text="#{general.memorial}">Memorial</span>
                                        </p>
                                        <p class="m-t-0 m-b-1 text-gray-light">
                                            <span th:text="${#temporals.format(currentMonthAttendance.memorialAttendance.date, #messages.msg('format.date.xl'), #locale)}">Tuesday, April 17th</span>
                                        </p>
                                    </div>

                                    <button type="button" class="btn m-t-3 btn-default" data-toggle="modal"
                                            data-target="#modal_add_attendance">
                                        <span th:text="#{general.add}">Add</span>&nbsp;
                                        <i class="fa fa-plus circle text-gray"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  END TAB CHART MONTH -->

                    <!--  END TAB CHART YEAR AVERAGE -->
                    <div id="tab_current_year" role="tabpanel" class="tab-pane fade panel panel-default no-bg b-dark-gray b-a-2">
                        <div class="panel-heading">
                            Year average attendance
                        </div>
                        <div class="panel-body">
                            <p class="m-a-2">You can find here the details of the attendance for the current year (2016-2017)</p>
                            <div class="row">
                                <div class="col-lg-10 col-md-9 col-sm-8">
                                    <div id="container_year"></div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-4">
                                    <h3 class="f-w-300 m-t-0" th:text="${yearAttendance}">April 2017</h3>

                                    <h3 class="f-w-300 m-t-0 m-b-0 text-primary" th:text="${yearAttendance.averageAttendance}">70</h3>
                                    <p class="m-b-1 m-t-0 text-gray-lighter" th:text="#{page.meeting.attendance.average}">Average attendance</p>

                                    <div class="col-sm-6 pull-left p-l-0">
                                        <h3 class="f-w-300 m-t-1 m-b-0">
                                            <span th:text="${yearAttendance.minAverage.averageAttendance}">90</span>
                                            <small><i class="fa fa-caret-down text-danger"></i></small>
                                        </h3>
                                        <p class="m-t-0 m-b-1 text-gray-light">
                                            <span th:text="${#temporals.format(yearAttendance.minAverage.period.start, 'MMM yy')}">Sunday, April 28th</span>
                                        </p>
                                    </div>
                                    <div class="col-sm-6 pull-right p-r-0">
                                        <h3 class="f-w-300 m-t-1 m-b-0">
                                            <span th:text="${yearAttendance.maxAverage.averageAttendance}">90</span>
                                            <small><i class="fa fa-caret-up text-success"></i></small>
                                        </h3>
                                        <p class="m-t-0 m-b-1 text-gray-light">
                                            <span th:text="${#temporals.format(yearAttendance.maxAverage.period.start, 'MMM yy')}">Sunday, April 28th</span>
                                        </p>
                                    </div>
                                    <p class="m-b-1 m-t-0 text-gray-lighter" th:text="#{general.average}">Average</p>

                                    <div class="col-sm-6 pull-left p-l-0">
                                        <h3 class="f-w-300 m-t-1 m-b-0">
                                            <span th:text="${yearAttendance.minAttendance.attendance}">90</span>
                                            <small><i class="fa fa-caret-down text-danger"></i></small>
                                        </h3>
                                        <p class="m-t-0 m-b-1 text-gray-light">
                                            <span th:text="${#temporals.format(yearAttendance.minAttendance.date, 'EEE d MMM')}">Sunday, April 28th</span>
                                        </p>
                                    </div>
                                    <div class="col-sm-6 pull-right p-r-0">
                                        <h3 class="f-w-300 m-t-1 m-b-0">
                                            <span th:text="${yearAttendance.maxAttendance.attendance}">90</span>
                                            <small><i class="fa fa-caret-up text-success"></i></small>
                                        </h3>
                                        <p class="m-t-0 m-b-1 text-gray-light">
                                            <span th:text="${#temporals.format(yearAttendance.maxAttendance.date, 'EEE d MMM')}">Sunday, April 28th</span>
                                        </p>
                                    </div>
                                    <p class="m-b-1 m-t-0 text-gray-lighter" th:text="#{general.attendance}">Attendance</p>

                                    <div th:if="${yearAttendance.memorial} != null">
                                        <h3 class="f-w-300 m-t-1 m-b-0">
                                            <span th:text="${yearAttendance.memorial.attendance}">50</span>
                                            <small><i class="fa fa-star text-danger"></i></small>
                                        </h3>
                                        <p class="m-b-0 m-t-0 text-gray-lighter">
                                            <span th:text="#{general.memorial}">Memorial</span>
                                        </p>
                                        <p class="m-t-0 m-b-1 text-gray-light">
                                            <span th:text="${#temporals.format(yearAttendance.memorial.date, #messages.msg('format.date.xl'), #locale)}">Tuesday, April 17th</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  END TAB CHART YEAR AVERAGE -->

                    <div id="tab_global" role="tabpanel" class="tab-pane fade panel panel-default no-bg b-dark-gray b-a-2">
                        <div class="panel-heading">
                            Year average attendance
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-10">
                                    <div id="container_global"></div>
                                </div>
                                <div class="col-lg-2">
                                    <p class="m-b-0 m-t-1 text-gray-lighter">Total Income</p>
                                    <h2 class="f-w-300 m-t-0">$5,878,00</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-center m-t-1 m-b-1">
        <div class="col-sm-12">
            <p>
                <button type="button" class="btn btn-default" data-toggle="modal"
                        data-target="#modal_add_attendance">
                    <span th:text="#{general.add}">Add</span>
                </button>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-default no-bg b-a-2 b-gray-dark">
            <div class="panel-heading" th:text="#{page.meeting.attendance.result.monthly}">Monthly results</div>
            <div class="panel-body">
                <div th:each="monthAttendance, status : ${yearAttendance.attendances}">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="panel no-bg b-a-2 collapsible-panel collapsed"
                             th:classappend="${monthAttendance.period.currentPeriod} ? 'panel-primary b-primary' : 'panel-info'">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <span th:text="${#strings.capitalize(#temporals.format(monthAttendance.period.start, 'MMMM', #locale))}"></span>
                                    </div>
                                    <div class="col-sm-3 text-right">
                                        <a href="#" class="action-panel-collapse">
                                            <i class="fa fa-fw fa-chevron-up text-muted panel-collapsed-hidden"></i>
                                            <i class="fa fa-fw fa-chevron-down text-muted panel-collapsed-visible"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body p-a-0">
                                <ul class="list-group m-b-0">
                                    <li class="list-group-item p-tb-px-5">
                                        <div class="media">
                                            <div class="media-body">
                                                <i><span th:text="#{general.average}">Average</span></i>
                                            </div>
                                            <div class="media-body text-right">
                                                <i><span th:text="${monthAttendance.averageAttendance}"></span></i>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item p-tb-px-5" th:each="attendance : ${monthAttendance.attendances}">
                                        <form th:action="@{/attendance/{id}/delete(id=${attendance.identifier})}" method="post">
                                            <div class="media">
                                                <div class="media-body" th:text="${#temporals.format(attendance.date, 'EEE d', #locale)}"></div>
                                                <div class="media-body text-right">
                                                    <span class="text-danger" data-toggle="tooltip" data-placement="bottom" th:title="#{general.memorial}"
                                                          th:if="${attendance.memorial}">
                                                        <small><i class="fa fa-star"></i></small>
                                                    </span>
                                                    <span class="text-warning" data-toggle="tooltip" data-placement="bottom" title="special week" th:if="${attendance.specialWeek}">
                                                        <small><i class="fa fa-star"></i></small>
                                                    </span>
                                                    <span class="text-success" data-toggle="tooltip" data-placement="bottom" title="max of month" th:if="${attendance.maxOfMonth}">
                                                        <small><i class="fa fa-caret-up"></i></small>
                                                    </span>
                                                    <span class="text-danger" data-toggle="tooltip" data-placement="bottom" title="min of month" th:if="${attendance.minOfMonth}">
                                                        <small><i class="fa fa-caret-down"></i></small>
                                                    </span> &#160;
                                                    <span class="text-white" th:text="${attendance.attendance}"></span> &#160;
                                                    <button data-toggle="confirmation" type="submit" class="close font-sm"><i class="fa fa-times"></i></button>
                                                </div>
                                            </div>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div th:if="${status.index % 4 == 3}" class="clearfix visible-lg-block">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>

    <!-- START Modal Add Attendance -->
    <div id="modal_add_attendance" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form role="form" th:action="@{/attendance}" method="post" th:object="${attendance}">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" th:text="#{page.meeting.attendance.add.entry}">Add attendance</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="attendanceDate" th:text="#{page.meeting.attendance.date}">Date</label>
                                    <input type="text" class="form-control date-picker" id="attendanceDate"
                                           th:placeholder="#{format.date}"
                                           th:field="*{date}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="attendance" th:text="#{page.meeting.attendance.count}">Attendance</label>
                                    <input type="text" class="form-control touchspin" id="attendance"
                                           th:field="*{attendance}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div id="box-memorial" class="checkbox checkbox-danger">
                                    <input id="memorial" type="checkbox" th:field="*{memorial}"/>
                                    <label for="memorial" th:text="#{general.memorial}">Memorial</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div id="box-special-week" class="checkbox checkbox-warning">
                                    <input id="specialWeek" type="checkbox" th:field="*{specialWeek}"/>
                                    <label for="specialWeek" th:text="#{general.special.week}">Special week</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{general.close}">Close</button>
                        <button type="submit" class="btn btn-primary" th:text="#{general.continue}">Save changes</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- END Modal Add attendance -->

    <script th:inline="javascript">
        //<![CDATA[
        $(document).ready(function () {
            var options;
            $('[data-toggle="tooltip"]').tooltip();

            $('[data-toggle="confirmation"]').confirmation({
                title: 'Supprimer ce rapport?',
                placement: 'left',
                rootSelector: '[data-toggle="confirmation"]',
                singleton: true,
                popout: true,
                btnCancelClass: 'btn-xs btn-danger',
                btnOkLabel: /*[[#{general.yes}]]*/'',
                btnCancelLabel: /*[[#{general.no}]]*/''
            });

            $('.date-picker').datetimepicker({
                locale: 'fr',
                format: /*[[${#strings.toUpperCase(#messages.msg('format.date'))}]]*/'',
                showClear: true,
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                }
            });

            $('.touchspin').TouchSpin({
                min: 0,
                max: 1000,
                step: 1
            });

            $('#box-memorial input[type="hidden"]').prependTo('#box-memorial');
            $('#box-special-week input[type="hidden"]').prependTo('#box-special-week');

            /* ****************************************************** */
            // CHART GLOBAL CONFIGURATION
            Highcharts.setOptions({
                lang: {
                    months: /*[[${monthNames}]]*/'',
                    shortMonths: /*[[${shortMonthNames}]]*/'',
                    weekdays: /*[[${weekdaysNames}]]*/''
                }
            });

            var chartMonth;
            var chartYear;
            var chartGlobal;

            /* ****************************************************** */
            // CHART MONTH MEETINGS ATTENDANCE
            $.getJSON('/rest/chart/attendance/month', function (config) {
                options = config;
                options.chart.renderTo = 'container';
                options.tooltip = {
                    dateTimeLabelFormats: {
                        day: '%e %B %Y'
                    }
                }
                chartMonth = new Highcharts.Chart(options);
            });

            /* ****************************************************** */
            // CHART YEAR AVERAGE ATTENDANCE
            $.getJSON('/rest/chart/attendance/year', function (config) {
                options = config;
                options.chart.renderTo = 'container_year';
                options.series[0].fillColor = {
                    linearGradient: {
                        x1: 0,
                        y1: 0,
                        x2: 0,
                        y2: 1
                    },
                    stops: [
                        [0, 'rgba(45, 153, 220, .4)'],
                        [1, 'rgba(45, 153, 220, 0)']
                    ]
                };
                if (options.series[1]) {
                    options.series[1].fillColor = {
                        linearGradient: {
                            x1: 0,
                            y1: 0,
                            x2: 0,
                            y2: 1
                        },
                        stops: [
                            [0, 'rgba(59, 189, 168, .2)'],
                            [1, 'rgba(59, 189, 168, 0)']
                        ]
                    };
                }
                if (options.series[2]) {
                    options.series[2].fillColor = {
                        linearGradient: {
                            x1: 0,
                            y1: 0,
                            x2: 0,
                            y2: 1
                        },
                        stops: [
                            [0, 'rgba(134, 179, 77, .2)'],
                            [1, 'rgba(134, 179, 77, 0)']
                        ]
                    };
                }
                if (options.series[3]) {
                    options.series[3].fillColor = {
                        linearGradient: {
                            x1: 0,
                            y1: 0,
                            x2: 0,
                            y2: 1
                        },
                        stops: [
                            [0, 'rgba(230, 108, 64, .2)'],
                            [1, 'rgba(230, 108, 64, 0)']
                        ]
                    };
                }
                if (options.series[4]) {
                    options.series[4].fillColor = {
                        linearGradient: {
                            x1: 0,
                            y1: 0,
                            x2: 0,
                            y2: 1
                        },
                        stops: [
                            [0, 'rgba(203, 62, 75, .2)'],
                            [1, 'rgba(203, 62, 75, 0)']
                        ]
                    };
                }
                chartYear = new Highcharts.Chart(options);
            });

            /* ****************************************************** */
            // CHART ALL ATTENDANCES
            $.getJSON('/rest/chart/attendance', function (config) {
                options = config;
                options.chart.renderTo = 'container_global';
                options.tooltip = {
                    formatter: function () {
                        return Highcharts.dateFormat('%a %e %b %Y', new Date(this.x)) + ': ' + this.y;
                    }
                };
                options.series[0].fillColor = {
                    linearGradient: {
                        x1: 0,
                        y1: 0,
                        x2: 0,
                        y2: 1
                    },
                    stops: [
                        [0, 'rgba(45, 153, 220, .4)'],
                        [1, 'rgba(45, 153, 220, 0)']
                    ]
                };
                chartGlobal = new Highcharts.Chart(options);
            });

            $('[data-toggle="tab"]').on('shown.bs.tab', function () {
                chartMonth.reflow();
                chartYear.reflow();
                chartGlobal.reflow();
            });
        });
        //]]>
    </script>
</div>
</body>
</html>