<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/default_layout}">
<head>

<title th:text="#{general.publisher.edit}">Fiche proclamateur</title>

</head>
<body>

    <div class="sub-navbar sub-navbar__header-breadcrumbs" layout:fragment="content-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 sub-navbar-column">
                    <div class="sub-navbar-header">
                        <h3 th:text="#{page.publisher.edit.subnav.title}">Edition d'une fiche proclamateur</h3>
                    </div>
                    <ol class="breadcrumb navbar-text navbar-right no-bg">
                        <li class="current-parent"><a class="current-parent" th:href="@{/}"> <i class="fa fa-fw fa-home"></i>
                        </a></li>
                        <li><a th:href="@{/publishers}" th:text="#{general.publishers}"> Publishers </a></li>
                        <li class="active" th:text="#{page.publisher.edit.breadcrumb}">Edition d'une fiche</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>



    <div layout:fragment="content">
        <!-- START Avatar with Name -->
        <div class="media m-b-3">
            <div class="media-body">
                <h3 class="f-w-300 m-b-0 m-t-1">
                    <span th:if="${newPublisher}" th:text="#{page.publisher.edit.new}" >New publisher</span>
                    
                    <a th:if="${newPublisher} == null" th:href="@{/publishers/{id}(id=${publisher.identifier})}"><span th:text="${publisher.fullName}">John DOE</span></a> 
                    <span th:if="${newPublisher} == null" class="text-muted"> <span class="m-r-1 m-l-1">/</span></span> 
                    <span th:if="${newPublisher} == null" th:text="#{page.publisher.edit.header.title}">Title</span>
                </h3>
                <p class="m-t-0">
                    <span class="label label-warning label-outline text-uppercase m-r-1">Premium</span> 
                    <span th:text="#{page.publisher.edit.header.subtitle}">Subtitle!</span>
                </p>
            </div>
        </div>
        <!-- END Avatar with Name -->
        
        <!-- START Errors banner -->
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('${publisher}') or error != null}">
            <span class="fa-stack fa-lg m-r-1">
                <i class="fa fa-circle-thin fa-stack-2x text-danger"></i>
                <i class="fa fa-close fa-stack-1x text-danger"></i>
            </span>
            <strong th:text="#{general.error} + '!'">Oh Snap!</strong> 
            <span th:if="${#fields.hasErrors('${publisher}')}" th:text="#{validation.error.global}">Change a few things up and try submitting again.</span>
            <span th:if="${error != null}" th:text="#{${error}}">Change a few things up and try submitting again.</span>
        </div>
        <!-- END Errors banner -->

        <div class="row">
            <!-- START Left Column -->
            <div class="col-lg-2 m-b-2">
                <!-- START Menu Pills Vertical -->
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" class="active"><a href="#tab-detail-general" role="tab" data-toggle="tab" th:text="#{general}">General</a></li>
                    <li role="presentation" class=""><a href="#tab-detail-address" role="tab" data-toggle="tab" th:text="#{general.address}">Address</a></li>
                    <li role="presentation" class=""><a href="#tab-detail-contact" role="tab" data-toggle="tab" th:text="#{general.contact}">Contact</a></li>
                </ul>
                <!-- END Menu Pills Vertical -->
            </div>
            <!-- END Left Column -->

            <!-- START All Forms -->
            <form id="formEditPublisher" class="form-horizontal" th:object="${publisher}" method="post" th:action="@{/publishers}">
                <div class="col-lg-10">
                    <div class="tab-content">
                    
                        <!-- START Tab General informations -->
                        <div class="tab-pane fade in active p-r-1" id="tab-detail-general" role="tabpanel">
                            <div class="panel panel-default b-a-2 no-bg b-gray-dark">
                                <div class="panel-heading">
                                    <h4 class="panel-title" th:text="#{page.publisher.edit.form.title.general}">General informations</h4>
                                </div>
                                
                                <input type="hidden" th:field="*{identifier}">
                                <input type="hidden" th:field="*{fullName}">

                                <div class="panel-body">
                                    <!-- START Form Name -->
                                    <div class="form-group" th:classappend="${#fields.hasErrors('name')} ? 'has-error'">
                                        <label for="profile-edit-name" class="col-sm-3 control-label"> <span class="text-danger">* </span> <span th:text="#{general.name}"></span>
                                        </label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="profile-edit-name" 
                                            th:placeholder="#{page.publisher.edit.form.placeholder.name}" 
                                            th:field="*{name}">
                                        </div>
                                        <span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect name</span>
                                    </div>
                                    <!-- END Form Name -->
                                    <!-- START Form First Name -->
                                    <div class="form-group" th:classappend="${#fields.hasErrors('firstName')} ? 'has-error'">
                                        <label for="profile-edit-first-name" class="col-sm-3 control-label"> <span class="text-danger">* </span> <span th:text="#{general.firstname}"></span>
                                        </label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="profile-edit-first-name" 
                                            th:placeholder="#{page.publisher.edit.form.placeholder.firstname}" 
                                            th:field="*{firstName}">
                                        </div>
                                        <span class="help-block" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Incorrect name</span>
                                    </div>
                                    <!-- END Form First Name -->
                                    <!-- START Form Birthdate -->
                                    <div class="form-group" th:classappend="${#fields.hasErrors('birthDate')} ? 'has-error'">
                                        <label for="profile-edit-birthdate" class="col-sm-3 control-label"> <span th:text="#{general.birthdate}"></span>
                                        </label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control date-range-picker" id="profile-edit-birthdate" 
                                            th:placeholder="#{page.publisher.edit.form.placeholder.birthdate}" 
                                            th:field="*{birthDate}">
                                        </div>
                                        <span class="help-block" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}">Incorrect name</span>
                                    </div>
                                    <!-- END Form Birthdate -->
                                    <!-- START Form Gender -->
                                    <div class="form-group" th:classappend="${#fields.hasErrors('gender')} ? 'has-error'">
                                        <label for="profile-edit-gender" class="col-sm-3 control-label"> <span th:text="#{general.sex}"></span>
                                        </label>
                                        <div class="col-sm-3">
                                            <select id="profile-edit-gender" th:field="*{gender}" class="form-control selectpicker">
                                                <option th:each="gender : ${genders}" th:value="${gender}" th:text="${#messages.msg(gender.labelCode)}"></option>
                                            </select>
                                        </div>
                                        <span class="help-block" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">Incorrect name</span>
                                    </div>
                                    <!-- END Form Gender -->
                                    <!-- START Form Baptism Date -->
                                    <div class="form-group" th:classappend="${#fields.hasErrors('baptismDate')} ? 'has-error'">
                                        <label for="profile-edit-baptism-date" class="col-sm-3 control-label"> <span th:text="#{general.baptism.date}"></span>
                                        </label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control date-range-picker" id="profile-edit-baptism-date" 
                                            th:placeholder="#{page.publisher.edit.form.placeholder.baptismdate}" 
                                            th:field="*{baptismDate}">
                                        </div>
                                        <span class="help-block" th:if="${#fields.hasErrors('baptismDate')}" th:errors="*{baptismDate}">Incorrect name</span>
                                    </div>
                                    <!-- END Form Baptism Date -->
                                </div>
                            </div>
                        </div>
                        <!-- END Tab General informations -->
                        <!-- START Tab Address -->
                        <div class="tab-pane fade p-r-1" id="tab-detail-address" role="tabpanel">
                            <div class="panel panel-default b-a-2 no-bg b-gray-dark">
                                <div class="panel-heading">
                                    <h4 class="panel-title" th:text="#{general.address}">Address</h4>
                                </div>
                                
                                <div class="panel-body">
                                    <!-- START Form Street 1 -->
                                    <div class="form-group">
                                        <label for="profile-edit-street-1" class="col-sm-3 control-label"> <span th:text="#{general.street}"></span>
                                        </label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="profile-edit-street-1" th:field="*{address.street1}">
                                        </div>
                                    </div>
                                    <!-- END Form Street 1 -->
                                    <!-- START Form Street 2 -->
                                    <div class="form-group">
                                        <label for="profile-edit-street-2" class="col-sm-3 control-label"> <span th:text="#{page.publisher.edit.form.street2}"></span>
                                        </label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="profile-edit-street-2" th:field="*{address.street2}">
                                        </div>
                                    </div>
                                    <!-- END Form Street 2 -->
                                    <!-- START Form Zip -->
                                    <div class="form-group">
                                        <label for="profile-edit-zip" class="col-sm-3 control-label"> <span th:text="#{general.zip}"></span>
                                        </label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control" id="profile-edit-zip" th:field="*{address.zip}">
                                        </div>
                                    </div>
                                    <!-- END Form Zip -->
                                    <!-- START Form City -->
                                    <div class="form-group">
                                        <label for="profile-edit-city" class="col-sm-3 control-label"> <span th:text="#{general.city}"></span>
                                        </label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control" id="profile-edit-city" th:field="*{address.city}">
                                        </div>
                                    </div>
                                    <!-- END Form City -->
                                    <!-- START Form Country -->
                                    <div class="form-group">
                                        <label for="profile-edit-country" class="col-sm-3 control-label"> <span th:text="#{general.country}"></span>
                                        </label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control" id="profile-edit-country" th:field="*{address.country}">
                                        </div>
                                    </div>
                                    <!-- END Form Country -->
                                </div>
                            </div>
                        </div>
                        <!-- END Tab Address -->
                        <!-- START Tab Contact -->
                        <div class="tab-pane fade p-r-1" id="tab-detail-contact" role="tabpanel">
                            <div class="panel panel-default b-a-2 no-bg b-gray-dark">
                                <div class="panel-heading">
                                    <h4 class="panel-title" th:text="#{general.contact}">Contact</h4>
                                </div>
                                
                                <div class="panel-body">
                                    <!-- START Form Email -->
                                    <div class="form-group">
                                        <label for="profile-edit-email" class="col-sm-3 control-label">
                                            <span th:text="#{general.email}"></span>
                                        </label>
                                        <div class="col-sm-6">
                                            <input type="email" class="form-control" id="profile-edit-email" th:field="*{contactDetail.email}">
                                        </div>
                                    </div>
                                    <!-- END Form Email -->
                                    <!-- START Form Phone -->
                                    <div class="form-group">
                                        <label for="profile-edit-phone" class="col-sm-3 control-label">
                                            <span th:text="#{general.phone}"></span>
                                        </label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control mask-phone" id="profile-edit-phone" th:field="*{contactDetail.phone}">
                                        </div>
                                    </div>
                                    <!-- END Form Phone -->
                                    <!-- START Form Mobile Phone -->
                                    <div class="form-group">
                                        <label for="profile-edit-mobile" class="col-sm-3 control-label">
                                            <span th:text="#{general.mobile}"></span>
                                        </label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control mask-phone" id="profile-edit-mobile" th:field="*{contactDetail.mobilePhone}">
                                        </div>
                                    </div>
                                    <!-- END Form Mobile Phone -->
                                </div>
                            </div>
                        </div>
                        <!-- END Tab Contact -->
                    </div>
                    <!-- START Panel Footer -->
                    <div class="button-group">
            
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        <button type="submit" class="btn btn-outline btn-primary" th:text="#{general.save}">Update Profile</button>
                        <a th:href="@{/publishers/{id}(id=*{identifier})}" class="btn btn-default" th:text="#{general.cancel}">Annuler</a>
                    </div>
                    <!-- START Panel Footer -->
                </div>
            </form>
        </div>
        
      <script th:inline="javascript">
      //<![CDATA[
        $(document).ready(function () {
        	$("#formEditPublisher").bootstrapValidator({
                feedbackIcons: {
                    valid: null,
                    invalid: null,
                    validating: 'fa fa-refresh'
                },
                submitHandler: function (validator, form, submitButton) {
                    // Do nothing
                },
                fields: {
                    name: {
                        validators: {
                            notEmpty: {
                                message: /*[[#{validation.name.empty}]]*/ ''
                            },
                            regexp: {
                                regexp: /^[A-zÀ-ÿ]+([\s-]?[A-zÀ-ÿ]+)?$/i,
                                message: /*[[#{validation.only.letters}]]*/''
                            }
                        }
                    },
                    firstName: {
                        validators: {
                            notEmpty: {
                                message: /*[[#{validation.firstname.empty}]]*/ ''
                            },
                            regexp: {
                                regexp: /^[A-zÀ-ÿ]+([\s-]?[A-zÀ-ÿ]+)?$/i,
                                message: /*[[#{validation.only.letters}]]*/''
                            }
                        }
                    }
                }
        	});
        	
			$('.date-range-picker').datetimepicker({
				locale : 'fr',
				format : 'DD/MM/YYYY',
				showClear : true,
				icons : {
					time : "fa fa-clock-o",
					date : "fa fa-calendar",
					up : "fa fa-arrow-up",
					down : "fa fa-arrow-down"
				}
			});
			
			$('.mask-phone').mask('00 00 00 00 00', {
				placeholder: '__ __ __ __ __',
				selectOnFocus: true
			});
        });
        //]]>
		</script>
    </div>
</body>
</html>