<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="www.thymeleaf.org" layout:decorate="~{layouts/default_layout}">
<head>

<title th:text="#{general.profile.edit}">Fiche proclamateur</title>

</head>
<body>

    <div class="sub-navbar sub-navbar__header-breadcrumbs" layout:fragment="content-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 sub-navbar-column">
                    <div class="sub-navbar-header">
                        <h3>Edition d'une fiche proclamateur</h3>
                    </div>
                    <ol class="breadcrumb navbar-text navbar-right no-bg">
                        <li class="current-parent"><a class="current-parent" href="index.html"> <i class="fa fa-fw fa-home"></i>
                        </a></li>
                        <li><a href="#"> Proclamateurs </a></li>
                        <li class="active">Edition d'une fiche</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>



    <div layout:fragment="content">
        <!-- START Avatar with Name -->
        <div class="media m-b-3">
            <div class="media-body">
                <h3 class="f-w-300 m-b-0 m-t-1">
                    <a href="profile-details.html"><span th:text="${publisher.fullName}">John DOE</span></a> <span class="text-muted"> <span class="m-r-1 m-l-1">/</span></span> Fiche proclamateur
                </h3>
                <p class="m-t-0">
                    <span class="label label-warning label-outline text-uppercase m-r-1">Premium</span> Edite les informations de la fiche de ce proclamateur.
                </p>
            </div>
        </div>
        <!-- END Avatar with Name -->

        <div class="row">
            <!-- START Left Column -->
            <div class="col-lg-2 m-b-2">
                <!-- START Menu Pills Vertical -->
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" class="active"><a href="profile-edit.html">Informations générales</a></li>
                    <li role="presentation" class=""><a href="account-edit.html">Adresse</a></li>
                </ul>
                <!-- END Menu Pills Vertical -->
            </div>
            <!-- END Left Column -->

            <div class="col-lg-10">
                <div class="panel panel-default b-a-2 no-bg b-gray-dark">
                    <div class="panel-heading">
                        <h4 class="panel-title">Informations générales</h4>
                    </div>

                    <div class="panel-body">
                        <!-- START All Forms -->
                        <form class="form-horizontal" th:object="${publisher}">
                            <!-- START Form Name -->
                            <div class="form-group">
                                <label for="profile-edit-name" class="col-sm-3 control-label">
                                    <span class="text-danger">* </span>
                                    <span th:text="#{general.name}"></span>
                                </label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="profile-edit-name" placeholder="Nom du proclamateur..." th:field="*{name}">
                                </div>
                            </div>
                            <!-- END Form Name -->
                            <!-- START Form First Name -->
                            <div class="form-group">
                                <label for="profile-edit-first-name" class="col-sm-3 control-label">
                                    <span class="text-danger">* </span>
                                    <span th:text="#{general.firstname}"></span>
                                </label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="profile-edit-first-name" placeholder="Prénom du proclamateur..." th:field="*{firstName}">
                                </div>
                            </div>
                            <!-- END Form First Name -->
                            <!-- START Form Birthdate -->
                            <div class="form-group">
                                <label for="profile-edit-birthdate" class="col-sm-3 control-label">
                                    <span class="text-danger">* </span>
                                    <span th:text="#{general.birthdate}"></span>
                                </label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control date-range-picker" id="profile-edit-birthdate" placeholder="Date de naissance..." th:field="*{birthDate}">
                                </div>
                            </div>
                            <!-- END Form Birthdate -->
                            <!-- START Form Gender -->
                            <div class="form-group">
                                <label for="profile-edit-gender" class="col-sm-3 control-label">
                                    <span th:text="#{general.sex}"></span>
                                </label>
                                <div class="col-sm-2">
                                    <select id="profile-edit-gender" th:field="*{gender}" class="form-control selectpicker">
                                        <option th:each="gender : ${genders}"
                                            th:value="${gender}"
                                            th:text="${#messages.msg(gender.labelCode)}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <!-- END Form Gender -->
                            <!-- START Form Baptism Date -->
                            <div class="form-group">
                                <label for="profile-edit-baptism-date" class="col-sm-3 control-label">
                                    <span th:text="#{general.baptism.date}"></span>
                                </label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control date-range-picker" id="profile-edit-baptism-date" placeholder="Date de baptême..." th:field="*{baptismDate}">
                                </div>
                            </div>
                            <!-- END Form Baptism Date -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script>
        /*$('.date-range-picker').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
            	format: "DD/MM/YYYY"
            }
        });*/
        $('.date-range-picker').datetimepicker({
        	locale: 'fr',
        	format: 'DD/MM/YYYY',
        	showClear: true,
        	icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down"
            }
        });
        </script>
    </div>
</body>
</html>