<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/default_layout}">
<head>
    <title th:text="#{general.publishers}">Page title</title>
</head>

<body>

    <div class="sub-navbar sub-navbar__header-breadcrumbs" layout:fragment="content-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 sub-navbar-column">
                    <div class="sub-navbar-header">
                        <h3 th:text="#{general.publishers}">Publisher file</h3>
                    </div>
                    <ol class="breadcrumb navbar-text navbar-right no-bg">
                        <li class="current-parent">
                            <a class="current-parent" th:href="@{/}">
                                <i class="fa fa-fw fa-home"></i>
                            </a>
                        </li>
                        <li class="active" th:text="#{general.publishers}">Publishers</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>



    <div layout:fragment="content">
    
        <div class="row">
            <div class="col-lg-3">
                <div class="panel panel-default no-bg b-a-2 b-primary">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <i class="fa fa-users fa-2x fa-fw text-primary"></i>
                            </div>
                            <div class="col-lg-6 text-right">
                                <p class="m-b-0" th:text="#{general.publishers}">Publishers</p>
                                <h1 class="f-w-300 m-t-0 m-b-0" th:text="${nbPublishers}"></h1>
                            </div>
                        </div>
                    </div>
                    <!-- START Footer -->
                    <div class="panel-footer">
                        <i class="m-r-1 fa fa-home"></i>
                        <span th:text="${congregation.name}"></span>
                    </div>
                    <!-- END Footer -->
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-12">
                <a th:href="@{/publishers/add}" class="btn btn-outline btn-info" th:text="#{general.add}">Add</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p class="m-t-5 m-b-5" th:text="#{page.publishers.paragraph(${congregation.name})}"></p>

                <table id="table_publishers" class="display table table-hover">
                    <thead>
                        <tr>
                            <th th:text="#{general.name}">Name</th>
                            <th th:text="#{general.firstname}">First name</th>
                            <th th:text="#{general.birthdate}">Birth date</th>
                            <th th:text="#{general.baptism.date}">Baptism date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="publisher : ${publishers}">
                            <td class="v-a-m">
                                <span class="text-white" th:text="${publisher.name}"></span>
                            </td>
                            <td class="v-a-m">
                                <span class="text-white" th:text="${publisher.firstName}"></span>
                            </td>
                            <td class="v-a-m">
                                <span th:if="${publisher.birthDate} != null" th:text="${#temporals.format(publisher.birthDate, 'dd/MM/yyyy')}"></span>
                            </td>
                            <td class="v-a-m">
                                <span th:if="${publisher.baptismDate} != null" th:text="${#temporals.format(publisher.baptismDate, 'dd/MM/yyyy')}"></span>
                            </td>
                            <td class="text-right v-a-m">
                                <div class="btn-group" role="group">
                                    <a th:type="button" th:href="@{/publishers/{id}(id=${publisher.identifier})}"
                                        class="btn btn-sm btn-default" th:text="#{general.detail}">Detail</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <script th:inline="javascript">
      	//<![CDATA[
        $(document).ready(function () {
        	$('#table_publishers').DataTable({
        		columnDefs: [{
        			targets: [4],
        			orderable: false,
                    searchable: false
        		}]
        	});
        });
        //]]>
		</script>
	</div>
</body>
</html>